<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 login-area">
      <div class="login-form">
        <h2>ログイン</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <table class="table">
            <tr>
              <th>Email</th>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", style:"width: 70%;" %></td>
            </tr>
            <tr>
              <th>Password</th>
              <td><%= f.password_field :password, autocomplete: "current-password", class: "form-control", style:"width: 70%;" %></td>
            </tr>
          </table>
          <%= f.submit "ログイン", class: "btn btn-default" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

