// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*  posts/new  */
.form-area {
	text-align: center;
	margin: 60px 0;
	padding: 20px 10px;
	border: solid;
	th {
		width: 80px;
	}
}
.post-new-headline {
	text-align: center;
	margin-bottom: 20px;
}


/*  posts/index  */
.post-index {
}
.post-index-headline {
	border-bottom: solid 2px black;
	margin: 0;
	padding: 20px 10px;
}
.post-index-title {
	font-size: 16px;
	text-align: center;
}
.created-at {
	margin: 0;
}
.search-form {
	text-align: center;
}
.post-index-titlearea {
	border-bottom: solid 1px gray;
}

/*  search  */
.search-form {
	margin: 20px 0;
}
.category-index {
	text-align: center;
	margin-bottom: 20px;
	span {
		font-size: 16px;
		background-color: #DDDDDD;
		padding: 5px;
		border-radius: 10px;
		margin-left: 10px;
  }
  span:hover {
  	font-size: 16px;
		background-color: #BBBBBB;
		padding: 5px;
		border-radius: 10px;
  }
}

/*  posts/show  */
.post-comment {
	border: solid;
}
.post-show {
	padding-left: 0;
	width: 780px;
	margin: 30px auto 0;
	h2 {
		text-align: center;
		width: 100%;
		background-color: black;
		color: white;
		margin: 0;
		padding: 10px;
		margin-top: 10px;
	}
	p {
		padding: 20px 30px;
		border: solid 1px black;
		word-wrap: break-word;
	}
	span {
		font-size: 16px;
		background-color: #DDDDDD;
		padding: 5px;
		border-radius: 10px;
		margin-left: 10px;
	}
	span:hover {
		font-size: 16px;
		background-color: #BBBBBB;
		padding: 5px;
		border-radius: 10px;
	}
}
.post-body {
	padding: 100px 50px;
}
.comment-headline {
	padding: 20px 0 10px 0;
	margin: 0;
	border-bottom: solid 1px black;
}
.comment-form {
	text-align: center;
	margin-bottom: 50px;
	h2 {
		text-align: left;
		border-bottom: solid 1px black;
		margin: 0;
		padding: 20px 0 10px 0;
	}
	th {
		text-align: center;
	}
}
.comment {
	width: 100%;
	border-bottom: solid 1px silver;
	padding: 10px 0;
	span {
		float: left;
		margin-right: 10px;
	}
	p {
		text-align: center;
		padding: 30px 0;
	}
}

.thread-delete {
	text-align: center;
	margin-top: 15px;
}


















